/* Шрифт */
@font-face {
    font-family: "TTLakes";
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/TTLakes-Regular.woff') format('woff');
    src: url('/fonts/TTLakes-Regular.ttf') format('truetype');
    src: url('/fonts/TTLakes-Regular.eot');
  }
  
  body {
    font-family: "TTLakes", sans-serif;
    background: var(--white);
    position: relative;
  }

/* цвета элементов */
:root{
  --white: rgb(248, 248, 248);
  --header_navigation_counter: #b8ffec;
  --menu_icon_color: #FF3E79;
  --text_color: rgb(27, 28, 33)
  --gray_color: rgb(126, 126, 130);
  --highlight_color: rgb(65, 246, 215);
  --divider_color: rgb(234, 234, 234);
  --bover_button_color: #cc194f;
}




  .header{
    width: 100%;
    background:  var(--white);
    height: 88px;
  }
  .header_navigation{
    display:flex;
    padding: 18.59px 16px;
    border-bottom: 1px solid var(--header_navigation_counter);
    justify-content: space-between;
    align-items: center;
  }
  /* правая колонка */
  .header_navigation_right_column{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 16.73px;
  }
.header_navigation_company_logo{
  margin:0 auto;
  display:flex;
  align-items:baseline;
  gap: 12.73px;
  width: 96.55px;
  position:absolute;
  left: 35%;
  transform: translateX(-40%);
}
/* Бургер меню */

.burger-menu{
  position:absolute;
  display:none;
}
.burger{
  position:relative;
  z-index: 1;
  cursor: pointer;
  display: block;
  position:relative;
  border:none;
  width: 40px;
  height: 40px;
}
.menu-list{
  top: 50px;
  left: 20;
  border-radius: 4px;
  position: absolute;
  display:grid;
  gap: 5px;
  padding: 15px 0;
  margin:0;
  background-color:var(--menu_icon_color);
  list-style-type: none;
  transform: translateX(-100%);
  transition: .3s;
  width:200px;
  height: 180px;
  z-index: 1;
}
a img{
  margin-right:10px;
}
.menu-item{
  display: block;
  padding: 8px 25px;
  color: var(--white);
  font-size: 14px;
  text-align: left;
  text-decoration: none;
  margin-left: 50px;
}
.menu-item:hover,
.menu-item:focus{
  background-color: var(--bover_button_color);
  border:0;
  outline: none;
}
.burger-menu:checked~.menu-list{
  transform: translateX(0);
}
/* левая колонка */
.header_navigation_left{
  display:flex;
  align-items: center;
  gap: 16px;
}
/* разделитель */
  .divider{ 
    background: var(--divider_color);
    width: 2px;
    height: 32px;
    border-radius: 1px 1px 1px 1px;
    position: absolute;
    right: 132px;
    z-index: 4;
  }



.primary_button{
    background-color:var(--menu_icon_color);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 1px solid var(--menu_icon_color);
    display:flex;
    justify-content: center;
    align-items: center;
}

.header_navigation_burgermenu{
  position: relative;
  left: 0px;
}
.primary_button img{
  max-width: 60%;
  height: auto;
} 
  .main_article_highlight{
    background: var(--highlight_color);
    border-radius: 0 8px 8px 0;
    width: 4px;
    height: 40px;
  }

.main_article_head{
font-size: 28px;
font-weight: 700;
line-height: 40px;
letter-spacing: -0.6px;
margin-left: 12px;
}

.main_menu_buttons{
  width: 100%;
  height: 60px;
  overflow: scroll;
  margin-top: 24px;
}

.main_menu_buttons::-webkit-scrollbar {
    width: 0;
  }

.main_menu_buttons ul{
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.main_menu_buttons li{
  text-align: left;
  margin-left: 16px;
  white-space: nowrap;
}

.link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 8px;
  padding-left: 16.54px;
  padding-right: 9.3px;
  position:relative;
  top: 10px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: var(--gray_color);
}

.link:hover,
.link:hover{
  border: 2px solid var(--header_navigation_counter);
}

.section_paragraph{
  margin-top: 24px;
  font-size: 14px;
  margin-left: 16px;

  width:288px;
  letter-spacing: 0.2px;
  line-height: 18px;
  color: var(--text_color);
}

/* скрыть и показать  */
.section_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 500px;
  margin: 5px auto;
}

.section_morebutton {
  display: none;
}

.section_paragraph_content {
  display: none;
}

.section_label_button {
padding: 5px 36px;
cursor: pointer;
margin-top: 16px;
display: inline-flex;
align-items: center;
}
.section_show-text_button, 
.section_hide-text_button {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.2px;
  color: var(--text_color);
}
.section_hide-text_button {
  display: none;
}
.section_morebutton:checked ~ .section_paragraph_content {
  display: block;
}
.section_morebutton:checked ~ .section_label_button .section_show-text_button {
  display: none;
}

.section_morebutton:checked ~ .section_label_button .section_hide-text_button {
  display: flex;
}

.header_navigation_left_divider{
  display:none;
}

  .inline{
display: inline-block;
margin-top: 24px;
vertical-align: top;
}
.aside_image{

    @media (max-width: 320px) {
        width: 320px;
        height: 176px;
      };
      @media (min-width: 320px) {
        width: 400px;
      }
}


a:hover,
a:focus{
    border: 2px solid var(--header_navigation_counter) ;
}

aside{
float: right;
}

ul{
  padding-inline-start: 15px;
    display: flex;
}







.section_show-text_icon,
.section_hide-text_icon {
  display: inline-block;
  font-size: 0.9em;
  margin-left: 14px;
}



/* Медиазапросы */

/* Для мобильных дисплеев 320px */
@media (width>=320px){
.header_navigation_desktop-version,
.main_menu_reviews,
menu-icons{
  display: none;
}
}


/* Для планшетов */
@media (min-width: 768px) and
  (max-width: 1120px){
    .header_navigation_burgermenu{
      display: flex;
      position: relative;
      left: 8px;
      align-items: center;
    }
    .menu-list{
      display: none;
    }
    .menu-icons a{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background-color: var(--menu_icon_color);
    border-radius: 50%;
    text-decoration: none;
    }
    .header_navigation_left_divider{
      display:inline;
      position: absolute;
      left:84px;
    }
  .header_navigation_right_column .menu-icons{
    display: flex;
    gap: 16px;
  }
  .section_paragraph{
    text-align: justify;
    width: 490px;
    margin-left: 34px;
    }
  .header_navigation_right_column .menu-icons a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--menu_icon_color);
    border-radius: 50%;
    text-decoration: none;
  }
  .header_navigation_right_column .menu-icons a img{
    max-width: 60%;
    height: auto;
    margin: 0;
  }
  .header_navigation_right_column{
    display: flex;
    align-items: center;
    gap: 26px;
    flex-wrap:nowrap;
    order:3
  }
  .section_paragraph{
    text-align: justify;
    width: 312px;
    
    }
    .section_container{
   display: inline;
    width: 312px;
    margin-left: 24px;
    }
  .header_navigation_company_logo{
    position:relative;
    left: 82.73px;
  }
  .aside_image{
    width: 360px;
    height: 208px;
    border-radius: 6px;
  }
  .section_aside{
    display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap:30px;
  }
  .section_paragraph_content{
    display: block;
  }
  .tablet_version{
    display:none;
  }
  .header_navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}


/* Для дисплеев более 1110px */
@media (width >= 1110px){
  .aside_image{
    width: 531px;
    border-radius: 6px;
  }

.header_navigation_company_logo,
.header_navigation_left_divider,
.header_navigation_left_column,
header_navigation_right_divider{
display:none;
border-bottom:none;
}

.header_navigation{
border-bottom: none;
}
.section_paragraph_content{
  display: block;
}
.section_paragraph{
  display: block;
  text-align: justify;
  width: 490px;
  margin-left: 34px;
  }

  .header_navigation_right_column{
    position: absolute;
    right: 16px;
    top: 42px;
  }

  .header{
    background: none;
  }

  .main_article_head,
  .main_article_highlight{
    position: absolute;
    left: 33px;
    top: 42px;
  }

  .main_article_highlight{
    left:0;
  }

  .main_menu_buttons{
    left: 33px;
  }
  .section_aside{
    display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap:30px;
  }
  .header_navigation_left,
  .menu-icons,
  .header_navigation_right_divider{
    display:none;
  }

  .main_menu_reviews{
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  padding: 8px;
  padding-left: 57px;
  padding-right: 9.3px;
  position:relative;
  top: 10px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: var(--gray_color)
  }

  .section_desktop{
    display: none;
  }
}